# Binaries
*.jar

# Temporary files
cache
usercache.json
version_history.json

# Logs
logs
*.log

# Branding
server-icon.png

# Sensitive files
.console_history
banned-ips.json
banned-players.json
eula.txt
ops.json
whitelist.json

# World files
world
*_nether
*_nether_old
*_the_end
*_the_end_old

# Backups
backup

# Plugins data
plugins

# Allow plugin configs
!plugins/
plugins/*
!plugins/dynmap/
plugins/dynmap/*
!plugins/dynmap/configuration.txt
!plugins/dynmap/worlds.txt
