.container {
    position: relative;
}
.server-icon {
    position: absolute;
    z-index: 873;
    width: 64px;
    height: 64px;
    left: 0;
    right: 0;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.rpi {
    position: absolute;
    z-index: 873;
    top: 1mm;
    left: 2cm;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.rpi span,
.rpi img {
    display: inline;
    font-size: small;
    vertical-align: middle;
    height: 16px;
}

.rpi-logo {
  background-color: transparent;
  background-image: url("https://www.raspberrypi.org/homepage-9df4b/favicon.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: block;
  height: 5mm;
}
